<%= form_with(model: project, local: true, id: 'project-form', class: 'row') do |form| %>
  <% if project and project.errors.any? %>
    <div id="error_explanation" class="col s12">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col s6">
  <% if project and project.attachment.url %>
    <%= form.hidden_field :attachment_file_name, value: project.attachment_file_name %>  
    <%= form.hidden_field :attachment_url, value: project.attachment.url(:large) %>
    <%= form.hidden_field :attachment_file_size, value: project.attachment_file_size %>
  <% end %>

  <% if current_user.admin? %>
    <div class="input-field">
      <%= form.select :volume_id, Volume.all.collect {|p| [ p.name, p.id ] }.unshift(['Volume','Volume']), { disabled: 'Volume'}, class: 'mat-select' %>
    </div>
  <% end %>

  <% unless project and project.new_record? %>
    <div id="attachment-dropzone" class="dropzone">
      <div class="fallback">
        <%= form.file_field :attachment %>
      </div>

      <div class="input-field">
        <%= form.text_field :photo_credit, id: :project_photo_credit %>
        <%= form.label :photo_credit %>
      </div>

      <h5 id="attachment-error" class="hidden">Error: Image needs to be 5x7 inches (or 1500x2100 pixels).</h5>
      <h5 id="attachment-success" class="hidden">Image saved!</h5>
      
    </div>
  <% end %>
    
    <div class="input-field">
      <%= form.text_field :contact_name, id: :project_contact_name, class: 'validate', required: true %>
      <%= form.label :contact_name %>
    </div>

    <div class="input-field">
      <%= form.text_field :contact_email, id: :project_contact_email, class: 'validate', required: true %>
      <%= form.label :contact_email %>
    </div>

    <div class="input-field">
      <%= form.text_area :contact_postal, id: :project_contact_postal, class: 'materialize-textarea validate', required: true %>
      <%= form.label :contact_postal %>
    </div>

    <div class="input-field">
      <%= form.text_field :contact_phone, id: :project_contact_phone, class: 'validate', required: true %>
      <%= form.label :contact_phone %>
    </div>

    <div class="input-field">
      <%= form.text_field :title, id: :project_title, class: 'validate', required: true %>
      <%= form.label :title %>
    </div>

    <div class="input-field">
      <%= form.text_field :name, id: :project_name, class: 'validate', required: true %>
      <%= form.label :name, 'Artist Name' %>
    </div>

    <div>
      <%= form.check_box :already_submitted, id: :project_already_submitted %>
      <%= form.label :already_submitted %>
    </div>

    <div class="input-field">
      <%= form.text_field :collaborators, id: :project_collaborators %>
      <%= form.label :collaborators %>
    </div>

    <div class="input-field">
      <%= form.text_field :first_date, id: :project_first_date, class: 'datepicker' %>
      <%= form.label :first_date %>
    </div>

    <div class="input-field">
      <%= form.number_field :times_performed, id: :project_times_performed, class: 'validate', required: true, min: 1, max: 999 %>
      <%= form.label :times_performed %>
    </div>

    <div class="input-field">
      <%= form.text_field :venue, id: :project_venue, class: 'validate', required: true %>
      <%= form.label :venue %>
    </div>

    <div class="input-field">
      <%= form.text_field :city, id: :project_city, class: 'validate', required: true %>
      <%= form.label :city %>
    </div>

    <div class="input-field">
      <%= form.text_field :state_country, id: :project_state_country, class: 'validate', required: true %>
      <%= form.label :state_country %>
    </div>
    
    <div class="input-field">
      <%= form.text_field :home, id: :project_home, class: 'validate', required: true %>
      <%= form.label :home %>
    </div>

    <div class="input-field">
      <%= form.text_field :published_contact, id: :project_published_contact %>
      <%= form.label :published_contact %>
    </div>

    <div class="input-field">
      <%= form.text_field :links, id: :project_links %>
      <%= form.label :links %>
    </div>

  </div>
  <div class="col s6">
    <div class="input-field">
      <%= form.text_area :description, id: :project_description, class: 'materialize-textarea validate', required: true %>
      <%= form.label :description %>
    </div>

    <div class="input-field">
      <%= form.text_field :footnote, id: :project_footnote %>
      <%= form.label :footnote %>
    </div>

    <div>
      <%= form.check_box :description_monospace, id: :project_description_monospace %>
      <%= form.label :description_monospace %>
    </div>

    <div class="input-field">
      <span class="label">Tags (type <b>;</b> to separate tags)</span>
      <%= form.collection_select(:tag_list, Project.tags_on(:tags), :name, :name, {selected: @project.all_tags_on(:tags).map(&:name)}, {multiple: true, id: 'project_tags', class: 'form-control'}) %>
    </div>
    

  </div>


  <div class="actions">
    <%= form.submit class: 'waves-effect waves-light btn' %>
  </div>
<% end %>

<script type="text/javascript">
  $("#project_tags").select2({
    tags: true,
    tokenSeparators: [';']
  });
</script>
