<% if @projects.blank? %>
  <p class="center"><i>No projects found!</i></p>
<% else %>
  <table class="highlight responsive-table" id="projects-table">
    <thead>
      <tr>
        <% if user_signed_in? and current_user.admin? and controller_name == 'admin' %>
          <th class="ellipsis maxwidth" title="Submitted On (MM/DD/YY)">
            <%= sort_link(@q, :submitted, {}, {remote: true}) %>
          </th>
          <th class="ellipsis" title="Publish Toggle">&nbsp;</th>
        <% end %>
        <th class="ellipsis maxwidth"><%= sort_link(@q, :volume, {}, {remote: true}) %></th>
        <th class="ellipsis"><%= sort_link(@q, :first_date, {}, {remote: true}) %></th>
        <th class="ellipsis"><%= sort_link(@q, :name, {}, {remote: true}) %></th>
        <th class="ellipsis"><%= sort_link(@q, :title, {}, {remote: true}) %></th>
        <th class="ellipsis"><%= sort_link(@q, :venue, {}, {remote: true}) %></th>
        <th class="ellipsis"><%= sort_link(@q, :home, {}, {remote: true}) %></th>
        <th class="ellipsis" title="Times Performed">#</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr data-project-href="<%= project_path(project)%>">
          <% if user_signed_in? and current_user.admin? and controller_name == 'admin' %>
            <td class="ellipsis maxwidth" title="<%= l project.created_at, format: :table_title %>"><%= l project.created_at, format: :table %></td>
            <td class="ellipsis center has-action" title="Publish Toggle">
              <input id="ck<%= project.id %>" type="checkbox" <%= "checked" if project.published %> class="toggle-publish" data-project-id="<%= project.id %>">
              <label class="project-pub" for="ck<%= project.id %>"></label>
              
              
            </td>
          <% end %>
          <td class="maxwidth"><%= project.volume.year %></td>
          <td class="ellipsis" title="First Performed: <%= project.first_date %>"><%= project.first_date %></td>
          <td class="ellipsis minwidth" title="<%= project.name %>"><%= project.name %></td>
          <td class="ellipsis minwidth" title="<%= project.title %>"><%= project.title %></td>
          <td class="ellipsis" title="Venue: <%= project.venue %>"><%= project.venue %></td>
          <td class="ellipsis" title="Home: <%= project.home %>"><%= project.home %></td>
          <td class="ellipsis" title="performed <%= project.times_performed_text %> in <%= project.volume.year %>"><%= project.times_performed %></td>
          <td class="has-action">
            <%= link_to '<i class="material-icons prefix tooltipped" data-tooltip="Permalink">link</i>'.html_safe, project, class: 'btn btn-flat btn-icon waves-effect' %>
            <% if user_signed_in? %>
              <%= link_to '<i class="material-icons prefix tooltipped" data-tooltip="Edit">edit</i>'.html_safe, edit_project_path(project), onclick: 'event.cancelBubble=true', class: 'btn btn-flat btn-icon waves-effect' if current_user.admin? or current_user.id == project.user_id %>
              <%= link_to '<i class="material-icons prefix tooltipped" data-tooltip="Delete">delete_forever</i>'.html_safe, project, method: :delete, class: 'delete-project btn btn-flat btn-icon waves-effect', 'data-project-id': project.id if user_signed_in? and current_user.admin? %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @projects %>
<% end %>
<% if user_signed_in? and current_user.admin? %>
<script type="text/javascript">
$( function() {
  $('.delete-project').unbind('click');
  $('.delete-project').click(function(e){
    e.preventDefault();
    //e.stopPropagation();
    if(confirm("Are you sure?")){
      $.ajax({
        url: "/admin/delete_project",
        method: "DELETE",
        data: { project: { id : $(this).data('project-id') } },
        success: function(){
           Materialize.toast('Project deleted!', 5000)
        }
      });
    }
    else{
      return false;
    }
  });


  $('.toggle-publish').change(function(e){

    var _this = $(this); 

    $.ajax({
      url: "/admin/project_toggle_publish",
      method: "POST",
      data: { project: { id : $(this).attr('data-project-id') } },
      success: function(){
        // var oldPub = _this.data('project-published');
        var newPub = _this.is(":checked") ? 'Published' : 'Unpublished';
        // console.log('_this oldPub:',oldPub,' newPub:',newPub);
        //fucking jquery :(
        // _this.removeData('project-published');
        // _this.attr('data-project-published', oldPub);
        // _this.html(oldPub);
        Materialize.toast('Project '+newPub, 5000);
        // $(this).attr("checked", !_this.is(":checked"));
      }
    });

  });

  $('#projects-table tbody tr td').unbind('click');
  $('#projects-table tbody tr td').click(function () {
    location.href = $(this).parent().data('project-href');
  });
  $('#projects-table tbody tr td.has-action').unbind('click');


});
</script>
<% end %>


