<% if @projects.blank? %>
  <p class="center"><i>No projects found!</i></p>
<% else %>
  <table class="highlight responsive-table">
    <thead>
      <tr>
        <% if user_signed_in? and current_user.admin? %>
        <th>Submitted</th>
        <th>Published</th>
        <% end %>
        <th>Volume</th>
        <th>Name</th>
        <th>Title</th>
        <th>First date</th>
        <th>Venue</th>
        <th>Home</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr onclick="projectRowClick(this,'<%= url_for project %>')">
          <% if user_signed_in? and current_user.admin? %>
          <td><%= l project.created_at, format: :short %></td>
          <td><%= project.published %></td>
          <% end %>
          <td><%= project.volume.year %>
          <td><%= project.name %></td>
          <td><%= project.title %></td>
          <td><%= project.first_date %></td>
          <td><%= project.venue %></td>
          <td><%= project.home %></td>
          <td><%= image_tag project.attachment.url(:thumb) if project.attachment.present? %></td>
          <td><%= link_to '<i class="material-icons prefix tooltipped" data-tooltip="Permalink">link</i>'.html_safe, project %></td>
          <% if user_signed_in? %>
          <td><%= link_to '<i class="material-icons prefix tooltipped" data-tooltip="Edit">edit</i>'.html_safe, edit_project_path(project), onclick: 'event.cancelBubble=true', class: 'waves-effect' if current_user.admin? or current_user.id == project.user_id %></td>
          <td><%= link_to '<i class="material-icons prefix tooltipped" data-tooltip="Delete">delete_forever</i>'.html_safe, project, onclick: 'event.cancelBubble=true', method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect' if current_user.admin? or current_user.id == project.user_id %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>