<% if @projects.blank? %>
  <p class="center"><i>No projects found!</i></p>
<% else %>
  <table class="highlight responsive-table">
    <thead>
      <tr>
        <% if user_signed_in? and current_user.admin? %>
        <th class="ellipsis maxwidth">Submitted</th>
        <th class="ellipsis maxwidth">Published</th>
        <% end %>
        <th class="ellipsis maxwidth">Volume</th>
        <th class="ellipsis">Name</th>
        <th class="ellipsis">Title</th>
        <th class="ellipsis">First date</th>
        <th class="ellipsis">Venue</th>
        <th class="ellipsis">Home</th>
        <th class="ellipsis">Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr onclick="projectRowClick(this,'<%= url_for project %>')">
          <% if user_signed_in? and current_user.admin? %>
            <td class="ellipsis maxwidth"><%= l project.created_at, format: :short %></td>
            <td class="ellipsis maxwidth">
              <%# project.published %>
              <button class="toggle-publish btn btn-flat btn-icon waves-effect" data-project-id="<%= project.id %>" data-project-published="<%= project.published ? 'Publish' : 'Unpublish' %>">
                <%= (project.published ? 'Unpublish' : 'Publish')  %>
              </button>
              
            </td>
          <% end %>
          <td class="maxwidth"><%= project.volume.year %>
          <td class="ellipsis minwidth"><%= project.name %></td>
          <td class="ellipsis minwidth"><%= project.title %></td>
          <td class="ellipsis"><%= project.first_date %></td>
          <td class="ellipsis"><%= project.venue %></td>
          <td class="ellipsis"><%= project.home %></td>
          <td class="ellipsis"><%= image_tag project.attachment.url(:thumb) if project.attachment.present? %></td>
          <td><%= link_to '<i class="material-icons prefix tooltipped" data-tooltip="Permalink">link</i>'.html_safe, project, class: 'btn btn-flat btn-icon waves-effect' %></td>
          <% if user_signed_in? %>
          <td><%= link_to '<i class="material-icons prefix tooltipped" data-tooltip="Edit">edit</i>'.html_safe, edit_project_path(project), onclick: 'event.cancelBubble=true', class: 'btn btn-flat btn-icon waves-effect' if current_user.admin? or current_user.id == project.user_id %></td>
          <td><%= link_to '<i class="material-icons prefix tooltipped" data-tooltip="Delete">delete_forever</i>'.html_safe, project, method: :delete, class: 'delete-project btn btn-flat btn-icon waves-effect', 'data-project-id': project.id if user_signed_in? and (current_user.admin? or current_user.id == project.user_id) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if user_signed_in? and (current_user.admin? or current_user.id == project.user_id) %>
<script type="text/javascript">
$( function() {
  $('.delete-project').click(function(e){
    e.preventDefault();
    //e.stopPropagation();
    if(confirm("Are you sure?")){
      $.ajax({
        url: "/admin/delete_project",
        method: "DELETE",
        data: { project: { id : $(this).data('project-id') } },
        success: function(){
           Materialize.toast('Project deleted!', 5000)
        }
      });
    }
    else{
      return false;
    }
  });


  var togglePublish = function(){

    var _this = $(this); 

    $.ajax({
      url: "/admin/project_toggle_publish",
      method: "POST",
      data: { project: { id : $(this).attr('data-project-id') } },
      success: function(){
        var oldPub = _this.data('project-published');
        var newPub = oldPub == 'Publish' ? 'Unpublish' : 'Publish';
        console.log('_this oldPub:',oldPub,' newPub:',newPub);
        //fucking jquery :(
        _this.removeData('project-published');
        _this.attr('data-project-published', oldPub);
        _this.html(oldPub);
        Materialize.toast('Project '+newPub+'ed', 5000);
      }
    });
    return false;

  }

  $('.toggle-publish').click(togglePublish);

  
});
</script>
<% end %>


