<h1>Projects</h1>

<table class="highlight responsive-table">
  <thead>
    <tr>
      <th>Artist name</th>
      <th>Title</th>
      <th>Created At</th>
      <th>First date</th>
      <th>Location</th>
      <th>Dates</th>
      <th>Collaborators</th>
      <th>Home</th>
      <th>Contact</th>
      <th>Links</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.artist_name %></td>
        <td><%= project.title %></td>
        <td><%= l project.created_at, format: :short %></td>
        <td><%= project.first_date %></td>
        <td><%= project.location %></td>
        <td><%= project.dates %></td>
        <td><%= project.collaborators %></td>
        <td><%= project.home %></td>
        <td><%= project.contact %></td>
        <td><%= project.links %></td>
        <td><%= project.description %></td>
        <td><%= image_tag project.attachment.url(:thumb) if project.attachment.present? %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
