<p>
  <strong>Artist name:</strong>
  <%= @project.artist_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<%= image_tag @project.attachment.url if @project.attachment.present? %>


<p>
  <strong>First date:</strong>
  <%= @project.first_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Dates:</strong>
  <%= @project.dates %>
</p>

<p>
  <strong>Collaborators:</strong>
  <%= @project.collaborators %>
</p>

<p>
  <strong>Home:</strong>
  <%= @project.home %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @project.contact %>
</p>

<p>
  <strong>Links:</strong>
  <%= @project.links %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
