<script type="text/javascript">
$(document).on('ready turbolinks:load', function() {
  $('.materialboxed').materialbox();
});
</script>

<div class='row'>
  <div class="col s12 m4">
    <%- if @project.attachment.present? %>
      
      <%= image_tag @project.attachment.url(:large), class: 'materialboxed project-img', 'data-caption': "photo: #{@project.photo_credit}"  %>
      <div class="photo-credit truncate">
        <%= @project.photo_credit %>
      </div>
    <%- end %>

    <h5>
      <strong><%= @project.title %></strong>
    </h5>

    <p>
      First performed on <%= @project.first_date_text %>
      <br />
      <%= @project.venue %>, <%= @project.city %>, <%= @project.state_country %>
      <br />
      performed <%= @project.times_performed_text %> in 2016.
    </p>

    <h5>
      <strong><%= @project.name %></strong>
    </h5>

    <%- unless @project.collaborators.blank? %>
    <p>
      <%= @project.collaborators %>
    </p>
    <%- end %>

    <p>
      <%= @project.home %>
      <br />
      <%= mail_to @project.published_contact unless @project.published_contact.blank? %>
      <%- unless @project.links.blank? %>
        <br />
        <% @project.links.split.each do |link| %>
          <%= link_to(link, link) %>
        <% end %>
      <%- end %>
    </p>
  </div>

  <div class="col s12 m8 right-panel">
    <h5>
      <strong><%= @project.title %></strong>
    </h5>

    <h6>
      <strong><%= @project.name %></strong>
    </h6>

    <p class="description">
      <%= @project.description %>
    </p>
  </div>
</div>

 

