<% if @users.blank? %>
  <p class="center">
    <% if @users_q.conditions.blank? %>
        <%= User.where(admin: false).count %> users
        <br>
        <%= User.where(admin: true).count %> admin users
    <% else %>
      No users found!
    <% end %>
  </p>
<% else %>
  <ul class="collection with-header collection-with-overflow">
    <% @users.each do |user| %>
      
      <li class="collection-item">
        <% if user.confirmed? %>
          <%= "#{user.name} - #{user.email} (#{user.projects.count} Project#{'s' if user.projects.count == 0 or user.projects.count > 1})" %>
        <% else %>
          <%= "#{user.name} - #{user.email} (unconfirmed)" %>
        <% end %>

        <i class="tooltipped" data-tooltip="Created At"><small><%= l user.created_at, format: :short %></small></i>
        

        <!-- Dropdown Trigger -->
        <a class='dropdown-button btn btn-flat' href='#' data-activates='dropdown<%= user.id%>'><i class="material-icons">arrow_drop_down</i></a>

        <!-- Dropdown -->
        <ul id='dropdown<%= user.id%>' class='dropdown-content'>
          <li><a class="edit-user" data-user-id="<%= user.id %>">
            <i class="material-icons">edit</i>Edit User
          </a></li>
          <% unless user.confirmed? %>
            <li><a class="resend-user-confirmation" data-user-id="<%= user.id %>">
              <i class="material-icons">mail</i>Resend confirmation email
            </a></li>
          <% end %>
          <li><a class="reset-user-password" data-user-id="<%= user.id %>">
            <i class="material-icons">lock_open</i>Send reset password email
          </a></li>

          <% if user.admin? %>
            <li><a class="user-admin" data-user-id="<%= user.id %>">
              <i class="material-icons">highlight_off</i>Remove Admin Role
            </a></li>
          <% elsif user.confirmed? %>
            <li><a class="user-admin" data-user-id="<%= user.id %>">
              <i class="material-icons">verified_user</i>Make Admin
            </a></li>
          <% end %>
          <li><a class="delete-user" data-user-id="<%= user.id %>">
            <i class="material-icons">delete_forever</i>Delete User
          </a></li>
          
        </ul>

      </li>
    <% end %>
  </ul>
<% end %>

<script type="text/javascript">
$( function() {
  
  $('.edit-user').click(function(){
    // /admin/resend_user_confirmation
    $.ajax({
      url: "/admin/user_edit",
      method: "GET",
      data: { user: { id : $(this).data('user-id') } }
    });
  });

  $('.resend-user-confirmation').click(function(){
    // /admin/resend_user_confirmation
    $.ajax({
      url: "/admin/resend_user_confirmation",
      method: "POST",
      data: { user: { id : $(this).data('user-id') } },
      success: function(){
        Materialize.toast('Confirmation instructions sent!', 5000)
      }
    });
  });
  $('.reset-user-password').click(function(){
    // /admin/reset_user_password
    $.ajax({
      url: "/admin/reset_user_password",
      method: "POST",
      data: { user: { id : $(this).data('user-id') } },
      success: function(){
         Materialize.toast('Password reset email sent!', 5000)
      }
    });
  });
  $('.user-admin').click(function(){
    // /admin/user_admin
    $.ajax({
      url: "/admin/user_admin",
      method: "POST",
      data: { user: { id : $(this).data('user-id') } }
    });
  });
  $('.delete-user').click(function(){
    if(confirm("Are you sure?")){
      $.ajax({
        url: "/admin/delete_user",
        method: "DELETE",
        data: { user: { id : $(this).data('user-id') } }
      });
    }
    else{
      return false;
    }
  });

   $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: true // Stops event propagation
    }
  );


});
</script>
