<div class="modal-content">
  <h4><%= @volume.new_record? ? 'Create New' : 'Edit' %> Volume</h4>
  <br>
  <%= form_with(url: "/admin/#{@volume.new_record? ? 'new' : 'update' }_volume", model: @volume, remote: true, id: 'volume-form', class: 'row') do |form| %>
    <%= form.hidden_field :id unless @volume.new_record? %>
    <div class="input-field">
      <%= form.text_field :name, id: :volume_name, class: 'validate', required: true %>
      <%= form.label :name %>
    </div>
    <div class="input-field">
      <%= form.number_field :year, id: :volume_year, min: 2000, max: 2100 %>
      <%= form.label :year %>
    </div>
    <div class="input-field">
      <%= form.text_field :open_date_string, id: :volume_open_date, class: 'datepicker' %>
      <%= form.label :open_date %>
    </div>
    <div class="input-field">
      <%= form.text_field :close_date_string, id: :volume_close_date, class: 'datepicker' %>
      <%= form.label :close_date %>
    </div>
    <div>
      <%= form.check_box :official, id: :volume_official %>
      <%= form.label :official %>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <span id="new-volume-error" class='red-text'></span>
  <button id="save-volume" class="waves-effect btn-flat btn"><%= @volume.new_record? ? 'Create' : 'Edit' %></button>
</div>
