<ul class="collapsible popout" data-collapsible="accordion">
  <li class="collection-item header"><h4><%= link_to 'Index', indexes_path %> &rarr; Contributors</h4></li>
  <% @contributors.each do |user| %>
	  <li>
	    <div class="collapsible-header flex-header"><span><%= user.name %></span><span class="new badge" data-badge-caption="project<%= 's' if user.projects.published.count != 1 %>"><%= user.projects.published.count %></span></div>
	    <div class="collapsible-body">
	    	
	    	<div class="collection">
	    		<b>&nbsp;Projects</b>
		    	<% user.projects.published.pluck(:title, :name, :id).each do |project| %>
			    	<%= link_to "#{project[0]} - #{project[1]}", project_path(project[2]), class: 'collection-item' %>
		    	<% end %>
		    </div>

	    </div>
	  </li>
	<% end %>
</ul>
<%= will_paginate @contributors %>
