<div class="fixed-margin">
  <ul class="collapsible popout" data-collapsible="accordion">
    <li class="collection-item header">
      <h4><%= link_to 'Index', indexes_path %> &rarr; Places</h4>
      <%= search_form_for @q, url: indexes_places_path, class: 'row search-row' do |f| %>
        <div class="col s4">
          <%= f.select :volume_year_in, Volume.all.collect {|p| [ p.year, p.year ] }.unshift(['Volume','Volume']), { disabled: 'Volume'}, multiple: true, class: 'mat-select' %>
        </div>
        <div class="input-field col s5">
          <%= f.search_field :venue_cont %>
          <%= f.label :venue_cont, 'Find Place' %>
        </div>
        <div class="input-field col s3">
          <button class="btn btn-flat waves-effect waves-light" type="submit" name="submit">
            <i class="material-icons">search</i>
          </button>
        </div>
      <% end %>
    </li>
    <% @places.each do |place| %>
      <li>
        <div class="collapsible-header flex-header"><span><%= place[0] %></span><span class="new badge" data-badge-caption="project<%= 's' if place[1].count != 1 %>"><%= place[1].count %></span></div>
        <div class="collapsible-body">
          <div class="collection">
            <b>&nbsp;Projects</b>
            <% place[1].each do |project| %>
              <%= link_to "#{project.title} - #{project.name}", project_path(project.id), class: 'collection-item' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @paginate_places %>
</div>
