<div class="fixed-margin">
  <ul class="indexes-collapsible popout" data-collapsible="accordion">
    <li class="collection-item header">
      <h4><%= link_to 'Index', indexes_path %> &rarr; Terms</h4>
      <%= search_form_for @q, url: indexes_terms_path, class: 'row search-row' do |f| %>
        <div class="col s4">
          <%= f.select :volume_year_in, Volume.all.collect {|p| [ p.year, p.year ] }.unshift(['Volume','Volume']), { disabled: 'Volume'}, multiple: true, class: 'mat-select' %>
        </div>
        <div class="input-field col s5">
          <%= f.search_field :tags_name_cont %>
          <%= f.label :tags_name_cont, 'Find Term' %>
        </div>
        <div class="input-field col s3">
          <button class="btn btn-flat waves-effect waves-light" type="submit" name="submit">
            <i class="material-icons">search</i>
          </button>
        </div>
      <% end %>
    </li>
    <% if params[:q] %>
      <li class="collection-item"><h5>&nbsp; <%= @terms.count %> Projects</h5></li>
    <% end %>
    <% @terms.each do |term| %>
      <li>
        <% if params[:q] %>
          <div class="collection">
            <%= link_to "#{term.title} - #{term.name}", project_path(term.id), class: 'collection-item' %>
          </div>
        <% else %>
          <div class="collapsible-header flex-header"><span><%= term.name %></span><span class="new badge" data-badge-caption="project<%= 's' if term.taggings_count != 1%>"><%= term.taggings_count %></span></div>
          <div class="collapsible-body">
            <div class="collection">
              <b>&nbsp;Projects</b>
              <% Project.published.tagged_with(term.name).pluck(:title, :name, :id).each do |project| %>
                <%= link_to "#{project[0]} - #{project[1]}", project_path(project[2]), class: 'collection-item' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @terms %>
</div>
